:root {
  --yellow: #FFC63D;
  --pink: #FF3D94;
  --green: #4DFF3D;
  --white: #ffffff;
  --dirtywhite: #F5F5F5;
  --orange: #FF7335;
  --blue: #3DCFFF;
  --red: #FF3D3D;
  --purple: #813DFF;
  --light-grey: #b1b1b1;
  --dark-grey: #828282;
  --black: #000000;
}
